body,div {
    margin: 0;
    padding: 0;
  }
  
nav {
    background-color: #cb2222;
    padding: 15px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 2px  #333;
  }
  
  .logo {
    margin-right: 40px;
  }
  
  .logo img {
    height: 80px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family:fantasy;
  }
  
  ul li {
    display: inline-block;
    margin-right: 40px;
  }
  
  ul li a { /* couleur du texte dans la barre de navigation*/
    text-decoration: none;
    color: #333;
    padding: 20px;
    font-family:fantasy
  }
  
  ul li a:hover {   /*Le texte passe en gris au survol de la souris*/
    background-color: #333;
    color: #fff;
    border-radius: 15px;
  }

  h1{   /*Personnaliser le titre*/
    text-align: center;
    font-family:Jazz LET, fantasy;
    background-color: #333;
    color: #ffef11;
    padding: 15px;
    margin: 0;
    text-decoration: underline
  }

  .poulet{
    border-radius: 30%;
    width: 20%;
    height: 10%;
    box-shadow: 2px, 2px, 2px #333;
 }

  


  

  
